.block2 {
  background: url(../images4/Fon_block2a.png) no-repeat, url(../images4/Fon_block2b.png) no-repeat top 420px right 0px;
  background-color: #16212E;
  padding-top: 1px;
  padding-bottom: 1px; }

.coordinates {
  display: grid;
  grid-template-columns: 490px 490px 490px;
  grid-template-rows: 180px 546px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 60px;
  margin: 120px auto; }
  .coordinates .map {
    grid-column: 2/4; }
    .coordinates .map iframe {
      position: relative;
      width: 1010px;
      height: 546px; }
  .coordinates .mail,
  .coordinates .telefon,
  .coordinates .adres {
    border: 1px solid rgba(85, 122, 161, 0.3);
    background: #23303F; }
    .coordinates .mail p,
    .coordinates .telefon p,
    .coordinates .adres p {
      margin-left: 130px;
      width: 300px;
      line-height: 22px;
      position: relative; }
      .coordinates .mail p:nth-child(1),
      .coordinates .telefon p:nth-child(1),
      .coordinates .adres p:nth-child(1) {
        margin-top: 40px;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        color: #9FCCFF; }
        .coordinates .mail p:nth-child(1)::before,
        .coordinates .telefon p:nth-child(1)::before,
        .coordinates .adres p:nth-child(1)::before {
          content: "";
          position: absolute;
          background-color: #9FCCFF;
          width: 1px;
          height: 50px;
          top: 20px;
          left: -131px; }
      .coordinates .mail p:nth-child(2),
      .coordinates .telefon p:nth-child(2),
      .coordinates .adres p:nth-child(2) {
        margin-bottom: 10px; }

.telefon p:nth-child(1)::after {
  content: "";
  position: absolute;
  background: url(../images4/iconteltg.png) no-repeat;
  width: 44px;
  height: 17px;
  top: 8px;
  left: 120px; }
.telefon p:nth-child(2)::before {
  content: "";
  position: absolute;
  background: url(../images4/icon1.png) no-repeat;
  width: 60px;
  height: 82px;
  top: -40px;
  left: -85px; }

.mail p:nth-child(2)::before {
  content: "";
  position: absolute;
  background: url(../images4/icon2.png) no-repeat;
  width: 60px;
  height: 82px;
  top: -50px;
  left: -85px; }

.adres p:nth-child(2)::before {
  content: "";
  position: absolute;
  background: url(../images4/icon3.png) no-repeat;
  width: 60px;
  height: 82px;
  top: -40px;
  left: -85px; }

.map {
  grid-column: 2/4; }

@media screen and (max-width: 1024px) {
  .container {
    width: 965px; }

  .coordinates {
    display: grid;
    grid-template-columns: 310px 310px 310px;
    grid-template-rows: 114px 344px;
    -webkit-column-gap: 17px;
            column-gap: 17px;
    row-gap: 30px;
    margin: 60px auto; }
    .coordinates .map iframe {
      position: relative;
      width: 637px;
      height: 344px; }
    .coordinates img {
      width: 310px;
      height: 344px; }
    .coordinates .mail p,
    .coordinates .telefon p,
    .coordinates .adres p {
      width: 300px;
      margin-left: 75px;
      font-size: 13px;
      line-height: 22px;
      position: relative; }
      .coordinates .mail p:nth-child(1),
      .coordinates .telefon p:nth-child(1),
      .coordinates .adres p:nth-child(1) {
        margin-top: 11px;
        margin-bottom: 0px;
        font-size: 16px; }
        .coordinates .mail p:nth-child(1)::before,
        .coordinates .telefon p:nth-child(1)::before,
        .coordinates .adres p:nth-child(1)::before {
          left: -76px; }
      .coordinates .mail p:nth-child(2),
      .coordinates .telefon p:nth-child(2),
      .coordinates .adres p:nth-child(2) {
        width: 240px;
        margin-bottom: 0px; }

  .telefon p:nth-child(2)::before {
    background-size: cover;
    width: 35px;
    height: 49px;
    top: -15px;
    left: -55px; }

  .mail p:nth-child(2)::before {
    background-size: cover;
    width: 35px;
    height: 49px;
    top: -15px;
    left: -55px; }

  .adres p:nth-child(2)::before {
    background-size: cover;
    width: 35px;
    height: 49px;
    top: -15px;
    left: -55px; } }
