.block3 {
    background: url(../images4/Fon_block3a.png) no-repeat;
    background-color: #16212E;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 763px;

    p {
        margin-top: 120px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #9FCCFF;
        opacity: 0.7;
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 55px;
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        color: #FFFFFF;
    }
}


.block-for-slider {
    width: 1529px;
    height: 255px;
    margin-top: 120px;

    .viewport {
        width: 1529px;
        height: 255px;
        overflow: hidden;

        .slidewrapper {
            display: flex;
            transition: 1s;
            transition-timing-function: ease;

            .slider_image {
                display: flex;

                img {
                    &:first-child {
                        margin-right: 31px;
                    }
                }
            }
        }
    }
}

.nav-btns {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    .slide-nav-btn {
        width: 20px;
        height: 20px;
        background-color: #23303F;
        margin: 3px;

        &:hover {
            background-color: #227CE4;
            cursor: pointer;
        }
    }
}


.prev-next-btns {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.prev-btn {
    position: absolute;
    background: url(../images4/slayderNext.png) no-repeat;
    transform: rotate(180deg);
    width: 25px;
    height: 25px;
    top: -33px;
}

.next-btn {
    position: absolute;
    background: url(../images4/slayderNext.png) no-repeat;
    width: 25px;
    height: 25px;
    top: -20px;
}

.prev-btn:hover,
.next-btn:hover {
    cursor: pointer;
}

.next-btn {
    right: 0px;
}


// Медиа 1024

@media screen and (max-width: 1024px) {
    .container {
        width: 965px;
    }

    .block3 {
        height: 835px;
        background-size: cover;

        p {
            margin-top: 60px;
            font-size: 10px;
            line-height: 12px;
        }

        h2 {
            margin-top: 20px;
            margin-bottom: 0px;
            font-size: 32px;
            line-height: 42px;
        }
    }


    .block-for-slider {
        width: 802px;
        height: 540px;
        margin-top: 40px;

        .viewport {
            width: 802px;
            height: 540px;
            margin-left: 110px;
            overflow: hidden;

            .slidewrapper {
                display: flex;
                transition: 1s;
                transition-timing-function: ease;

                .slider_image {
                    margin-right: 53px;
                    display: flex;
                    flex-direction: column;

                    img {
                        &:first-child {
                            margin-right: 0px;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}


.nav-btns {
    margin-left: 180px;
    margin-top: 40px;

    display: flex;
    justify-content: center;

    .slide-nav-btn {
        width: 20px;
        height: 20px;
        background-color: #23303F;
        margin: 3px;

        &:hover {
            background-color: #227CE4;
            cursor: pointer;
        }
    }
}

.prev-next-btns {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.prev-btn {
    left: 110px;
}

.next-btn {
    right: -55px;
}