footer {
  background-color: #1A2633;
  height: 130px; }

.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .foot .foot_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 133px;
    height: 130px; }
  .foot .foot_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .foot .foot_menu ul:nth-child(1) {
      margin-right: 145px;
      text-transform: uppercase;
      color: #BCC9DA;
      opacity: 0.8; }
      .foot .foot_menu ul:nth-child(1) li:nth-child(1) {
        margin-bottom: 10px; }
    .foot .foot_menu ul:nth-child(2) {
      margin-right: 181px;
      text-transform: uppercase;
      color: #BCC9DA;
      opacity: 0.8; }
      .foot .foot_menu ul:nth-child(2) li:nth-child(1) {
        margin-bottom: 10px; }
    .foot .foot_menu ul:nth-child(3) {
      margin-right: 190px; }
      .foot .foot_menu ul:nth-child(3) li:nth-child(1) {
        margin-bottom: 10px; }
    .foot .foot_menu ul:nth-child(4) li a {
      color: #BCC9DA;
      font-size: 14px; }
    .foot .foot_menu ul:nth-child(4) li:nth-child(1) {
      margin-bottom: 10px; }

.foot_menu .contacts {
  margin-top: 0px;
  position: relative; }
  .foot_menu .contacts::before {
    display: none; }
  .foot_menu .contacts li {
    margin-bottom: 0px; }
    .foot_menu .contacts li p {
      display: inline;
      padding-left: 12px;
      font-size: 14px;
      color: #BCC9DA; }
    .foot_menu .contacts li:last-child {
      margin-bottom: 0px; }
