@charset "UTF-8";
header {
  background-color: #1A2633;
  height: 70px; }

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right; }
  .head ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .head ul li {
      position: relative;
      width: 120px;
      text-align: center;
      text-transform: uppercase;
      margin-right: 60px; }
      .head ul li::before {
        content: "";
        width: 1px;
        height: 0px;
        position: absolute;
        background-color: #227CE4;
        top: 25px;
        left: 60px;
        -webkit-transition-property: height, width;
        transition-property: height, width;
        -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s; }
      .head ul li:hover::before {
        height: 75%; }
      .head ul li:nth-child(4) {
        margin-right: 64px; }

.head_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  margin-right: 623px; }

/* Кнопка выпадающего списка */
.dropbtn {
  background-color: transparent;
  color: #FFFFFF;
  width: 46px;
  height: 46px;
  padding: 5px;
  font-size: 14px;
  border: solid 1px #80828D;
  cursor: pointer; }

/* Кнопка выпадающего меню при наведении и фокусировке */
.dropbtn:hover {
  background-color: #b4b7b9; }

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative; }

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  max-width: 46px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: #fff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  display: block; }
  .dropdown-content a:nth-child(2) {
    padding: 14px 10px; }
  .dropdown-content a:hover {
    border: solid 0.5px #80828D; }

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс 
.dropdown-content содержимого, когда пользователь нажимает на кнопку
выпадающего списка) */
.show {
  display: block; }
