*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.privet{
    background-color:rgb(126, 182, 228);
    height: auto;
    text-align: center;
    color: rgb(78, 8, 143);
    vertical-align: middle;
    line-height: 40px;
}

.menu{
    width: 200px;
    float: left;
}
.menu ul{
    margin: 20px 40px 20px 40px;
    list-style-type: disc;
}


h1{
    text-align: center;
    line-height: 25px;
    margin: 10px;
}


.osnova{
    background: url(images/Мяч.png) repeat-y right top;
    background-color:rgb(255, 255, 255);
    margin-left: 200px;
    padding: 10px;
}

.glavnoe{
    background-color:rgb(126, 182, 228);
    color: rgb(78, 8, 143);
    height: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}


@media all and (max-width: 1024px){
    .both{
        display: flex;
        flex-direction: column;
        clear: none;
    }
    .menu{
        display: flex;
        float: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .menu ul{
        margin: 0px;
        text-align: center;
    }
    .menu ul li{
        list-style-type: none;
    }
    .osnova{
        margin-left: 0px;
    }
}