.block2{
    background-color: #16212E;
    background-image: url(../images/Fon_block2.png) no-repeat;
    height: 800px;
}

.cifra{
    display: grid;
    padding-top: 120px;
    grid-template-columns: 490px 490px 490px;
    grid-template-rows: 170px 170px 170px;
    gap: 30px;
}
