.block3 {
    background: url(../images1/Fon_block3.png) no-repeat;
    padding-top: 1px;
    padding-bottom: 1px;
}

@mixin h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
}

.vezem {
    width: 570px;

    p {

        &:first-child {
            margin-top: 120px;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #9FCCFF;
            opacity: 0.7;
        }

        &:last-of-type {
            span {
                font-weight: 600px;
                color: #FFFFFF;
            }

        }
    }

    h2 {
        @include h2;
        margin-top: 20px;
        margin-bottom: 55px;
    }

    button {
        margin-top: 90px;
        margin-bottom: 120px;
    }
}