.block3 {
  background: url(../images1/Fon_block3b.png) no-repeat top 100px right 50px, url(../images1/Fon_block3a.png) no-repeat;
  padding-top: 1px;
  padding-bottom: 1px; }

@-webkit-keyframes animaBefore {
  from {
    left: -70px; }
  to {
    left: -100px; } }

@keyframes animaBefore {
  from {
    left: -70px; }
  to {
    left: -100px; } }
.otkudaVezem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .otkudaVezem .vezem {
    width: 570px;
    margin-right: 80px; }
    .otkudaVezem .vezem p:first-child {
      margin-top: 120px;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #9FCCFF;
      opacity: 0.7; }
    .otkudaVezem .vezem p:last-of-type span {
      font-weight: 600px;
      color: #FFFFFF; }
    .otkudaVezem .vezem h2 {
      font-weight: 600;
      font-size: 50px;
      line-height: 60px;
      color: #FFFFFF;
      margin-top: 20px;
      margin-bottom: 55px; }
    .otkudaVezem .vezem button {
      margin-top: 90px;
      margin-bottom: 120px; }
  .otkudaVezem .kudaVezem {
    width: 880px;
    background: url(../images1/fonKudaIsr.png) no-repeat top 280px right 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .otkudaVezem .kudaVezem ul {
      width: 300px;
      height: 505px;
      -webkit-transform-origin: 150px 150px;
              transform-origin: 150px 150px;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
      .otkudaVezem .kudaVezem ul li {
        margin-top: 73px;
        margin-left: 70px;
        text-transform: uppercase;
        position: relative; }
        .otkudaVezem .kudaVezem ul li::before {
          content: '';
          position: absolute;
          background-color: #FFFFFF;
          width: 50px;
          height: 1px;
          top: 12px;
          left: -70px; }
        .otkudaVezem .kudaVezem ul li:hover {
          margin-left: 100px;
          -webkit-transition-duration: 2s;
                  transition-duration: 2s;
          color: #227CE4; }
          .otkudaVezem .kudaVezem ul li:hover::before {
            -webkit-animation: animaBefore;
                    animation: animaBefore;
            -webkit-transition-duration: 2s;
                    transition-duration: 2s;
            width: 45%;
            left: -100px;
            background-color: #227CE4; }
        .otkudaVezem .kudaVezem ul li:nth-child(1) {
          margin-top: 0px; }

.kudaVezem:has(ul li:first-child:hover) {
  background: none;
  background: url(../images1/fonKudaIsr.png) no-repeat top 280px right 0px; }

.kudaVezem:has(ul li:nth-child(2):hover) {
  background: none;
  background: url(../images1/fonKudaHoll.png) no-repeat top 280px right 0px;
  -webkit-transition-duration: 2s;
          transition-duration: 2s; }

.kudaVezem:has(ul li:nth-child(3):hover) {
  background: none;
  background: url(../images1/fonKudaCl.png) no-repeat top 280px right 0px;
  -webkit-transition-duration: 2s;
          transition-duration: 2s; }

.kudaVezem:has(ul li:nth-child(4):hover) {
  background: none;
  background: url(../images1/fonKudaCol.png) no-repeat top 280px right 0px;
  -webkit-transition-duration: 2s;
          transition-duration: 2s; }

.kudaVezem:has(ul li:nth-child(5):hover) {
  background: none;
  background: url(../images1/fonKudaKe.png) no-repeat top 280px right 0px;
  -webkit-transition-duration: 2s;
          transition-duration: 2s; }

.kudaVezem:has(ul li:nth-child(6):hover) {
  background: none;
  background: url(../images1/fonKudaEcuador.png) no-repeat top 280px right 0px;
  -webkit-transition-duration: 2s;
          transition-duration: 2s; }
