.block1 {
    background: url(../images1/Fon_block1.png) no-repeat left 0px top 0px,
        url(../images1/Fon_block1a.png) no-repeat right 0px top 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.main {
    display: flex;
    justify-content: flex-end;
}

.avia {
    width: 805px;
    margin-top: 80px;
    margin-right: 80px;

    p {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    h1 {
        margin-bottom: 37px;
        font-weight: 600;
        font-size: 72px;
        line-height: 75px;
        color: #FFFFFF;

        span {
            position: relative;

            &::before {
                content: "";
                height: 60px;
                width: 2px;
                background-color: #fff;
                position: absolute;
                top: 12px;
                left: -35px;
            }
        }
    }

    li {
        margin-bottom: 22px;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
        position: relative;

        span {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                background: url(../images1/point.png) no-repeat;
                width: 31px;
                height: 31px;
                top: -5px;
                left: -50px;
            }
        }
    }

    &:last-child {
        margin-bottom: 0px;
    }
}

.contacts {
    margin-top: 118px;
    position: relative;

    &::before {
        content: "";
        height: 60px;
        width: 2px;
        background-color: #fff;
        position: absolute;
        top: 3px;
        left: -35px;
    }

    li {
        margin-bottom: 20px;
        padding-left: 32px;

        &:nth-child(1) {
            span {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    background: url(../images1/icon_tel.png) no-repeat;
                    width: 16px;
                    height: 16px;
                    top: 3px;
                    left: -32px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    background: url(../images1/icon_post.png) no-repeat;
                    width: 16px;
                    height: 12px;
                    top: 50px;
                    left: -32px;
                }
            }
        }

        &:nth-child(2) {
            margin-bottom: 30px;
        }

        a {
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;
        }
    }
}


.block-for-slider {
    width: 540px;
    height: 250px;
    margin: 84px 0px 120px 190px;
}

.viewport {
    width: 540px;
    height: 250px;
    overflow: hidden;
}

.slidewrapper {
    display: flex;
    transition: 1s;
    transition-timing-function: ease;

    .slider_image {
        display: flex;

        img {
            margin-right: 30px;

            &:nth-child(3n+3) {
                margin-right: 0px;
            }
        }
    }
}

.nav-btns {
    position: absolute;
    margin-top: 25px;
    margin-left: -190px;
    display: flex;

    li {
        color: #FFFFFF;
        &:nth-child(1) {
            margin-right: 195px;
            margin-bottom: 70px;
        }
        &:nth-child(2){
            margin-right: 170px;
        }
        &:nth-child(3){
            margin-right: 170px;
        }
        &:nth-child(4){
            margin-right: 170px;
        }
        &:nth-child(5){
            margin-right: 170px;
        }
    }
}

.slide-nav-btn {
    position: relative;
}

.slide-nav-btn:hover {
    cursor: pointer;
}


button {
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0;
}