.block3 {
  background: url(../images1/Fon_block3.png) no-repeat;
  padding-top: 1px;
  padding-bottom: 1px; }

.vezem {
  width: 570px; }
  .vezem p:first-child {
    margin-top: 120px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #9FCCFF;
    opacity: 0.7; }
  .vezem p:last-of-type span {
    font-weight: 600px;
    color: #FFFFFF; }
  .vezem h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 55px; }
  .vezem button {
    margin-top: 90px;
    margin-bottom: 120px; }
