.block1 {
  background: url(../images1/Fon_block1.png) no-repeat left 0px top 0px, url(../images1/Fon_block1a.png) no-repeat right 0px top 0px;
  padding-top: 1px;
  padding-bottom: 1px; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.avia {
  width: 805px;
  margin-top: 80px;
  margin-right: 80px; }
  .avia p {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF; }
  .avia h1 {
    margin-bottom: 37px;
    font-weight: 600;
    font-size: 72px;
    line-height: 75px;
    color: #FFFFFF; }
    .avia h1 span {
      position: relative; }
      .avia h1 span::before {
        content: "";
        height: 60px;
        width: 2px;
        background-color: #fff;
        position: absolute;
        top: 12px;
        left: -35px; }
  .avia li {
    margin-bottom: 22px;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    position: relative; }
    .avia li span {
      position: relative; }
      .avia li span::before {
        content: "";
        position: absolute;
        background: url(../images1/point.png) no-repeat;
        width: 31px;
        height: 31px;
        top: -5px;
        left: -50px; }
  .avia:last-child {
    margin-bottom: 0px; }

.contacts {
  margin-top: 118px;
  position: relative; }
  .contacts::before {
    content: "";
    height: 60px;
    width: 2px;
    background-color: #fff;
    position: absolute;
    top: 3px;
    left: -35px; }
  .contacts li {
    margin-bottom: 20px; }
    .contacts li p {
      display: inline;
      padding-left: 16px;
      font-weight: 300;
      font-size: 16px;
      line-height: 26px;
      color: #FFFFFF; }
    .contacts li:last-of-type {
      margin-bottom: 30px; }

.slider {
  width: 540px;
  height: 250px;
  margin: 78px 0px 25px 190px;
  overflow: hidden; }
  .slider .slider_line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .slider .slider_line .slider_image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 540px; }
    .slider .slider_line img {
      margin-right: 30px; }

button {
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0; }

.btn_ecuador {
  margin-right: 190px;
  margin-bottom: 70px; }

.btn_ke {
  margin-right: 165px; }

.btn_co {
  margin-right: 165px; }

.btn_cl {
  margin-right: 165px; }

.btn_holl {
  margin-right: 165px; }
