.block2 {
  background: url(../images1/Fon_block2a.png) no-repeat, url(../images1/Fon_block2b.png) no-repeat -575px 20px, url(../images1/Fon_block2c.png) no-repeat right -550px top 450px;
  background-color: #16212E;
  padding-bottom: 1px;
  padding-top: 1px; }

.block2 p {
  margin-top: 120px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #9FCCFF;
  opacity: 0.7; }
.block2 h2 {
  margin-top: 20px;
  margin-bottom: 55px;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  text-align: center; }

.cifra {
  display: grid;
  grid-template-columns: 490px 490px 490px;
  grid-template-rows: 170px 170px;
  gap: 30px;
  margin-bottom: 120px; }
  .cifra .year,
  .cifra .weight,
  .cifra .procent,
  .cifra .countries,
  .cifra .grad,
  .cifra .clients {
    background: #23303F;
    border: 1px solid rgba(85, 122, 161, 0.6); }
    .cifra .year p,
    .cifra .weight p,
    .cifra .procent p,
    .cifra .countries p,
    .cifra .grad p,
    .cifra .clients p {
      width: 320px;
      margin-left: 110px;
      text-transform: none;
      font-weight: 500;
      line-height: 22px;
      color: #BCC9DA;
      position: relative; }
      .cifra .year p:first-child,
      .cifra .weight p:first-child,
      .cifra .procent p:first-child,
      .cifra .countries p:first-child,
      .cifra .grad p:first-child,
      .cifra .clients p:first-child {
        margin-top: 40px;
        margin-bottom: 8px;
        text-align: start;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        color: #9FCCFF; }
      .cifra .year p:last-child,
      .cifra .weight p:last-child,
      .cifra .procent p:last-child,
      .cifra .countries p:last-child,
      .cifra .grad p:last-child,
      .cifra .clients p:last-child {
        margin-top: 0px;
        text-align: start;
        font-size: 16px;
        color: #FFFFFF; }
        .cifra .year p:last-child::before,
        .cifra .weight p:last-child::before,
        .cifra .procent p:last-child::before,
        .cifra .countries p:last-child::before,
        .cifra .grad p:last-child::before,
        .cifra .clients p:last-child::before {
          content: "";
          height: 60px;
          width: 1px;
          background-color: #9FCCFF;
          position: absolute;
          top: -37px;
          left: -111px; }

.year p {
  position: relative; }
  .year p:first-child::before {
    content: "";
    background: url(../images1/year.png) no-repeat;
    position: absolute;
    width: 60px;
    height: 82px;
    top: 5px;
    left: -80px; }

.weight p {
  position: relative; }
  .weight p:first-child::before {
    content: "";
    background: url(../images1/weight.png) no-repeat;
    position: absolute;
    width: 60px;
    height: 82px;
    top: 5px;
    left: -80px; }

.procent p {
  position: relative; }
  .procent p:first-child::before {
    content: "";
    background: url(../images1/procent.png) no-repeat;
    position: absolute;
    width: 60px;
    height: 82px;
    top: 5px;
    left: -80px; }

.countries p {
  position: relative; }
  .countries p:first-child::before {
    content: "";
    background: url(../images1/countries.png) no-repeat;
    position: absolute;
    width: 60px;
    height: 82px;
    top: 5px;
    left: -80px; }

.grad p {
  position: relative; }
  .grad p:first-child::before {
    content: "";
    background: url(../images1/grad.png) no-repeat;
    position: absolute;
    width: 60px;
    height: 82px;
    top: 5px;
    left: -80px; }

.clients p {
  position: relative; }
  .clients p:first-child::before {
    content: "";
    background: url(../images1/clients.png) no-repeat;
    position: absolute;
    width: 60px;
    height: 82px;
    top: 5px;
    left: -80px; }

@media screen and (max-width: 1024px) {
  .container {
    width: 965px; }

  .block2 {
    background: url(../images1/Fon_block2a.png) no-repeat, url(../images1/Fon_block2b.png) no-repeat -265px 60px;
    background-color: #16212E; }

  .block2 p {
    margin-top: 63px;
    font-size: 10px;
    line-height: 12px; }
  .block2 h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 60px;
    color: #FFFFFF; }

  .cifra {
    grid-template-columns: 310px 310px 310px;
    grid-template-rows: 138px 138px;
    gap: 17px;
    margin-bottom: 60px; }
    .cifra .year p,
    .cifra .weight p,
    .cifra .procent p,
    .cifra .countries p,
    .cifra .grad p,
    .cifra .clients p {
      width: 220px;
      margin-left: 81px;
      text-transform: none;
      font-weight: 500;
      color: #BCC9DA;
      position: relative; }
      .cifra .year p:first-child,
      .cifra .weight p:first-child,
      .cifra .procent p:first-child,
      .cifra .countries p:first-child,
      .cifra .grad p:first-child,
      .cifra .clients p:first-child {
        margin-top: 29px;
        margin-bottom: 6px;
        font-size: 25px;
        line-height: 30px; }
      .cifra .year p:last-child,
      .cifra .weight p:last-child,
      .cifra .procent p:last-child,
      .cifra .countries p:last-child,
      .cifra .grad p:last-child,
      .cifra .clients p:last-child {
        font-size: 13px;
        line-height: 20px; }
        .cifra .year p:last-child::before,
        .cifra .weight p:last-child::before,
        .cifra .procent p:last-child::before,
        .cifra .countries p:last-child::before,
        .cifra .grad p:last-child::before,
        .cifra .clients p:last-child::before {
          height: 50px;
          width: 1px;
          top: -25px;
          left: -82px; }

  .year p:first-child::before {
    background: url(../images1/year.png) no-repeat;
    background-size: cover;
    width: 38px;
    height: 52px;
    top: 10px;
    left: -60px; }

  .weight p:first-child::before {
    background: url(../images1/weight.png) no-repeat;
    background-size: cover;
    width: 38px;
    height: 52px;
    top: 10px;
    left: -60px; }

  .procent p:first-child::before {
    background: url(../images1/procent.png) no-repeat;
    background-size: cover;
    width: 38px;
    height: 52px;
    top: 10px;
    left: -60px; }

  .countries p:first-child::before {
    background: url(../images1/countries.png) no-repeat;
    background-size: cover;
    width: 38px;
    height: 52px;
    top: 10px;
    left: -60px; }

  .grad p:first-child::before {
    background: url(../images1/grad.png) no-repeat;
    background-size: cover;
    width: 38px;
    height: 52px;
    top: 10px;
    left: -60px; }

  .clients p:first-child::before {
    background: url(../images1/clients.png) no-repeat;
    background-size: cover;
    width: 38px;
    height: 52px;
    top: 10px;
    left: -60px; } }
@media screen and (max-width: 320px) {
  .block2 {
    background: none;
    background-color: #16212E;
    opacity: 0.99; }
    .block2 .container {
      width: 290px; }
      .block2 .container p {
        margin-top: 60px;
        font-size: 8px;
        line-height: 10px; }
      .block2 .container h2 {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 32px; }
    .block2 .cifra {
      grid-template-columns: 290px;
      grid-template-rows: 123px 123px 123px 123px 123px 123px;
      gap: 15px;
      margin-bottom: 60px; }
      .block2 .cifra .year p,
      .block2 .cifra .weight p,
      .block2 .cifra .procent p,
      .block2 .cifra .countries p,
      .block2 .cifra .grad p,
      .block2 .cifra .clients p {
        width: 220px;
        margin-left: 75px;
        text-transform: none;
        font-weight: 500;
        color: #BCC9DA;
        position: relative; }
        .block2 .cifra .year p:first-child,
        .block2 .cifra .weight p:first-child,
        .block2 .cifra .procent p:first-child,
        .block2 .cifra .countries p:first-child,
        .block2 .cifra .grad p:first-child,
        .block2 .cifra .clients p:first-child {
          margin-top: 24px;
          margin-bottom: 8px;
          font-size: 22px;
          line-height: 27px;
          color: #9FCCFF; }
        .block2 .cifra .year p:last-child,
        .block2 .cifra .weight p:last-child,
        .block2 .cifra .procent p:last-child,
        .block2 .cifra .countries p:last-child,
        .block2 .cifra .grad p:last-child,
        .block2 .cifra .clients p:last-child {
          font-size: 13px;
          line-height: 20px; }
          .block2 .cifra .year p:last-child::before,
          .block2 .cifra .weight p:last-child::before,
          .block2 .cifra .procent p:last-child::before,
          .block2 .cifra .countries p:last-child::before,
          .block2 .cifra .grad p:last-child::before,
          .block2 .cifra .clients p:last-child::before {
            height: 50px;
            width: 1px;
            top: -25px;
            left: -76px; } }
