header {
    background-color: #1A2633;
    height: 70px;
}

.open {
    display: flex;
}

.head {
    display: flex;
    align-items: center;
    justify-content: right;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            position: relative;
            width: 120px;
            text-align: center;
            text-transform: uppercase;
            margin-right: 60px;

            &::before {
                content: "";
                width: 1px;
                height: 0px;
                position: absolute;
                background-color: #227CE4;
                top: 25px;
                left: 60px;
                transition-property: height, width;
                transition-duration: 0.5s;
            }

            &:hover {
                &::before {
                    height: 75%;
                }
            }

            &:nth-child(4) {
                margin-right: 64px;
            }
        }

    }
}
//     .burger {
//         display: none;
//         position: relative;
//         align-items: center;
//         justify-content: flex-end;
//         margin-left: 30px;
//         width: 30px;
//         height: 35px;
//         z-index: 1;

//         &::before,
//         &::after {
//             content: '';
//             position: absolute;
//             height: 2px;
//             width: 33px;
//             background-color: #FAF6F2;
//             transition: all 0.3s ease 0s;
//         }

//         &::before {
//             top: 0;
//         }

//         &::after {
//             bottom: 0;
//         }

//         span {
//             height: 2px;
//             width: 25px;
//             transform: scale(1);
//             background-color: #FAF6F2;
//         }
//     }

    .head_logo {
        display: flex;
        align-items: center;
        height: 70px;
        margin-right: 623px;
    }
// }

// .burger.active span {
//     transform: scale(0);
// }

// .burger.active::before {
//     top: 48%;
//     transform: rotate(-45deg) translate(0, 50%);
// }

// .burger.active::after {
//     bottom: 48%;
//     transform: rotate(45deg) translate(0, 50%);
// }




/* Кнопка выпадающего списка */
.dropbtn {
    background-color: transparent;
    color: #FFFFFF;
    width: 46px;
    height: 46px;
    padding: 5px;
    font-size: 14px;
    border: solid 1px #80828D;
    ;
    cursor: pointer;
}

/* Кнопка выпадающего меню при наведении и фокусировке */
.dropbtn:hover {
    background-color: #b4b7b9;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    // display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    max-width: 46px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: #fff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    display: block;

    &:nth-child(2) {
        padding: 14px 10px;
    }

    &:hover {
        border: solid 0.5px #80828D;
    }
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс 
.dropdown-content содержимого, когда пользователь нажимает на кнопку
выпадающего списка) */
.show {
    display: block;
}


@media screen and (max-width: 1024px) {
    .container {
        width: 965px;
    }

    .head {
        .head_logo {
            margin-right: 70px;
        }
    }

}

@media screen and (max-width: 320px) {
    .container {
        width: 290px;
    }

    // header {
    //     height: 56px;
    //     .head {
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: flex-start;
    //         height: 300px;
    //         width: 320px;
    //         // overflow-y: hidden;
    //         // z-index: 1;
    //         background-color: #1A2633;
    //         animation: burgerAnimation 0.4s;

    //         ul {
    //             flex-direction: column;
    //             align-items: center;
    //             justify-content: center;
    //             row-gap: 30px;
    //             margin-top: 60px;
    //         }

    //         .head_logo {
    //             margin-right: 0px;
    //             padding: 10px 0 0 10px;

    //             img {
    //                 width: 81px;
    //                 height: 32px;
    //             }
    //         }
    //         .dropdown{
    //             margin: 10px 10px 0 0;
    //         }
    //     }
    // }
}

@keyframes burgerAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


